{% extends "::default/index.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function () {

            $.ajax({
                url: '/ro/courses/get-events/' + {{ id }},
                type: 'POST',
                dataType: 'json',
                success: function (data) {console.log(data);
                    $('#calendar').fullCalendar({
                        defaultDate: '2016-11-01',
                        editable: true,
                        eventLimit: true, // allow "more" link when too many events
                        events: data
                    });

                },
                error: function (data) {
                    console.log(data.responseText);
                }
        });
            });

    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/lib/fullcalendar.css') }}" rel='stylesheet'/>
    <link href="{{ asset('bundles/app/css/lib/fullcalendar.print.css' ) }}" rel='stylesheet' media='print'/>

    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
{% endblock %}
{% block content %}
    <div id='calendar'></div>
{% endblock %}
