{% block fos_user_content %}
    <head>
        <meta charset="UTF-8">
        <title>Reset password</title>

        <link href="{{ asset('bundles/app/css/reset.css') }}" rel="stylesheet" />

        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

        <link href="{{ asset('bundles/app/css/login.css') }}" rel="stylesheet" />
    </head>
    <div class="pen-title">
        <h1>Reset password</h1>
    </div>
    <div class="container">
        <div class="card"></div>
        <div class="card">
            <h1 class="title">Reset password</h1>
            <form action="{{ path("reset-password") }}" method="post">
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div class="input-container">
                    <input type="text" id="username" name="email" required="required" class="login-input" />
                    <label for="Username">E-mail</label>
                    <div class="bar"></div>
                </div>
                <div class="button-container">
                    <button type="submit" id="_submit" name="_submit" value="Submit" ><span>Reset password</span></button>
                </div>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
