
<h3> {{ 'Greetings'| trans}} {{ user }}</h3>
{% trans %} This is the token for your password recovery: {% endtrans %} {{ confirmationToken }}

This token will be available for 24 hours since the e-mail has been sent.


If you did not request this, ignore this e-mail.

<div>
    <div class="button-green"><a href='{{ path('user-confirm-recover-password', {id: userId, answer:1, token: confirmationToken}) }}'>Yes</a></div>
    <div class="button"><a href='{{ path('user-confirm-recover-password', {id: userId, answer:0}) }}'>No</a></div>
</div>


Thanks,
FILS UPB Team