<div id="sidebar" class="sidebar sidebar-fixed">
    <div class="sidebar-outer">
        <ul class="sidebar-inner">
            {#{% if is_granted('ROLE_SUPER_ADMIN') %}#}
                {#<li id="admin" class="menu-item">#}
                    {#<a href="{{ path('admin-index') }}">#}
                        {#<i class="fa fa-cog"></i>#}
                        {#<span>{{ 'menu.admin'|trans }}</span>#}
                    {#</a>#}
                {#</li>#}
            {#{% endif %}#}

            {#<li id="dashboard" class="menu-item">#}
                {#<a href="{{ path('index') }}">#}
                    {#<i class="fa fa-tachometer"></i>#}
                    {#<span>{{ 'menu.dashboard'|trans }}</span>#}
                {#</a>#}
            {#</li>#}

            <li id="user" class="menu-item">
                <a href="{{ path('user-view-profile') }}">
                    <i class="fa fa-user"></i>
                    <span>{{ 'menu.user_profile'|trans }}</span>
                </a>
            </li>

            <li id="projects" class="menu-item">
                <a href="{{ path('filter-projects') }}">
                    <i class="fa fa-list"></i>
                    <span>{{ 'menu.projects'|trans }}</span>
                </a>
            </li>

            {#<li id="messages" class="menu-item">#}
                {#<a href="#">#}
                    {#<i class="fa fa-bell"></i>#}
                    {#<span>{{ 'menu.messages'|trans }}</span>#}
                {#</a>#}
            {#</li>#}
        </ul>
    </div>
    <div class="sidebar-control">
        <div class="sidebar-toggle">
            <button type="button" id="toggle-sidebar-size-btn" class="btn btn-default btn-sm">
                <i class="menu-icon fa fa-arrow-left"></i>
            </button>
        </div>
    </div>
</div>