{% extends "::default/index.html.twig" %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <form action="{{ path('add-event-submit', {'id':course.id}) }}" method="post">

        <div class="form-group">
            <label class="col-md-3 control-label">Nume eveniment</label>

            <div class="col-md-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Tip eveniment</label>

            <select class="form-control" name="tip" id="tip">
                {% for key, tip in tipuri %}
                    <option value="{{ key }}">{{ tip }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Recurenta:</label>
            <select class="form-control" name="recurenta" id="recurenta">
                {% for key, r in recurenta %}
                    <option value="{{ key }}">{{ r }}</option>
                {% endfor %}
            </select>
        </div>

        <div class='example'>
            Data:
            <input class="datepicker" id="date" data-bind='datepicker: startDate' />
            <select data-bind="options: hourOptions, optionsText: formatTimeOption, value: startDateHour"></select>
            <select data-bind="options: hourOptions, optionsText: formatTimeOption, value: endDateHour"></select>
            <p>Selected date: <span data-bind='text: startDate'></span> -  <span data-bind='text: endDate'></span></p>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <div class="btn-group">
                    <button type="submit" class="btn btn-warning btn-sm">
                        <i class="fa fa-cog"></i>Salveaza
                    </button>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
