{% extends "::default/index.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script>
        //        $('.add-event').on('click').function({
        //           $('.page-content').append("<div class='form-group'></div>");
        //        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <ul class="list-unstyled">
        <h1>Event</h1>
        <li>Curs: {{ event.course.name }} ({{ event.type }})</li>
        <li>Data: {{ event.date|date("d/m/Y") }}</li>
        <li>Interval: {{ event.startDate|date('H:i') }} - {{ event.endDate|date('H:i') }}</li>
        <li>Recurenta: {{ event.recurrenceType }}</li>
    </ul>

    <h1>Comentarii:</h1>


    {% for comment in comments %}
        <ul class="list-unstyled">
            <li>Userul {{ comment.user.firstName ~ ' ' ~ comment.user.lastName }} a zis:</li>
            <li>{{ comment.comment }}</li>
            <li>Rating:
                <div class="rating">{{ comment.rating }}</div>
                <div onclick="thumbsUp({{ comment.id }},this)">
                    <i class="fa fa-thumbs-up" style="color:green"></i>
                </div>

                <div onclick="thumbsDown({{ comment.id }})">
                    <i class="fa fa-thumbs-down" style="color:red"></i>
                </div>

            </li>
        </ul><br><br><br>
    {% endfor %}


    <form action="{{ path('add-comment', {'id': event.id}) }}" id="myform">
        <div class="row">
            <div class="form-group">
                <label for="comment" class="col-md-12 control-label">Comment:</label>

                <div class="col-md-12">
                    <textarea class="form-control" id="comment" name="comment" required></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="btn-group">
                <a class="btn btn-warning btn-sm" href="{{ path('add-comment', {'id': event.id}) }}">
                    <i class="fa fa-cog"></i>Trimite comentariu
                </a>
            </div>
        </div>
    </form>

{% endblock %}
