{% extends "::default/index.html.twig" %}

{% block title %}
    {{ parent() }}
    - {{ 'menu.projects'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="header">
                <h4 class="title">{{ course.name }}</h4>

                {#<p class="category">{{ 'view_project.submitted_by'|trans }} {{ course.professor.name }}</p>#}
            </div>
            <div class="content">
                <table class="table table-hover table-striped">
                    <thead>
                    {#//#}
                    </thead>

                    <tbody>
                    <tr>
                        <td class="text-right col-md-4">{{ 'view_project.name'|trans }}:</td>
                        <td class="col-md-8">{{ course.name }}</td>
                    </tr>

                        <td class="text-right col-md-4">Moderatori:</td>
                        <td class="col-md-8">
                            <ul class="list-unstyled">
                                {% for c in courseProf %}
                                    <li>
                                        <a href="{{ path('user-view-profile', {'id': c.professor.id}) }}">
                                            {{ c.professor.firstname ~ ' ' ~ c.professor.lastname }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tbody>
                </table>

                {% if canView %}
                    <a href="{{ path('list_events') }}" class="action-apply btn btn-warning btn-sm"
                       data-project-id="{{ course.id }}">
                        <i class="fa fa-calendar"></i>Course calendar
                    </a>
                {% endif %}

                {% if canEdit %}
                    <div class="btn-group">
                            <a class="btn btn-warning btn-sm" href="{{ path('admin-edit-course', {'id': course.id}) }}">
                            <i class="fa fa-cog"></i>{{ 'view_project.buttons.edit'|trans }}
                        </a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-sm" href="{{ path('project-delete', {'id': course.id}) }}">
                            <i class="fa fa-trash-o"></i>{{ 'view_project.buttons.delete'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}