{% extends "::default/index.html.twig" %}

{% block title %}
    {{ parent() }}
    - {{ 'menu.projects'|trans }}
{% endblock %}

{% block page_title %}
    {{ 'menu.projects'|trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/project-filter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vendor/select2/dist/js/select2.js') }}"></script>
    <script type="text/javascript">
        $("li.sidebar-list").removeClass("active");
        $("li.sidebar-list#projects").addClass("active");

        $(".js-example-basic-multiple").select2({maximumSelectionLength: 5});
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/vendor/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    {#Actions#}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        <span>{{ 'project_form.actions.title'|trans }}</span>

                        <div class="btn-group pull-right">
                            <a class="btn btn-success btn-sm" href="{{ path('project-add') }}">
                                <i class="fa fa-plus"></i>{{ 'project_form.actions.add'|trans }}</a>

                            <a class="btn btn-success btn-sm" href="{{ path('project-list-by-professor') }}">
                                <i class="fa fa-list-ul"></i>{{ 'project_form.actions.view_personal'|trans }}</a>
                        </div>
                    </h4>
                </div>

                <div class="content"></div>
            </div>
        </div>
    {% endif %}

    {#Filters#}
    <div class="row">
        <div class="card">
            <div class="header">
                <h4 class="title">{{ 'project_form.title'|trans }}</h4>
            </div>

            <div class="content">

                <form name="{{ form.vars.name }}" method="post" action="{{ path('filter-projects-ajax') }}">
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.availability) }}
                                {{ form_errors(form.availability) }}
                                {{ form_widget(form.availability, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.stream) }}
                                {{ form_errors(form.stream) }}
                                {{ form_widget(form.stream, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.professor) }}
                                {{ form_errors(form.professor) }}
                                {{ form_widget(form.professor, { 'attr': {'class': 'form-control js-example-basic-multiple'} }) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.tag) }}
                                {{ form_errors(form.tag) }}
                                {{ form_widget(form.tag, { 'attr': {'class': 'form-control js-example-basic-multiple'} }) }}
                            </div>
                        </div>
                    </div>

                    <div class="btn-group">
                        <button type="button" id="{{ form.vars.name }}_save" name="{{ form.vars.name }}[save]" class="btn btn-success btn-sm">
                            {{ 'project_form.filters.buttons.submit'|trans }}
                        </button>
                        <button type="reset" id="{{ form.vars.name }}_reset" name="{{ form.vars.name }}[reset]" class="btn btn-warning btn-sm">
                            {{ 'project_form.filters.buttons.reset'|trans }}
                        </button>
                    </div>

                    {{ form_row(form._token) }}
                </form>
            </div>
        </div>
    </div>

    {#Projects#}
    <div class="row">
        <div id="projects-list">
            {% include "AppBundle:Project:projectList.html.twig" with {pagination: pagination, canApply: canApply} %}
        </div>
    </div>
{% endblock %}