<div class="card">
    <div class="content table-responsive table-full-width">

        {# display navigation #}
        <div class="nav navbar-nav pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-hover table-striped">
            <thead>
            {#sorting of properties based on query components#}
            <th {% if pagination.isSorted('c.id') %} class="sorted {{ pagination.getDirection() }}"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Id curs', ['p.firstName', ' ', 'p.lastName']) }}
                <i class="fa fa-fw fa-sort"></i></th>
            <th {% if pagination.isSorted('c.name') %} class="sorted {{ pagination.getDirection() }}"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Curs', 'c.name') }}
                <i class="fa fa-fw fa-sort"></i></th>
            <th>Profesor</th>

            <th>{{ 'project_form.table.actions'|trans }}</th>
            </thead>

            <tbody>
            {% for p in pagination %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.name }}</td>
                    {#<td>{{ course.description|slice(0,50) }}{{ course.description|length > 50 ? '...' : '' }}</td>#}
                    <td>
                        <div class="btn-group">

                            <button class="action-view btn btn-success btn-sm"
                                    data-href="{{ path('view-event', { 'id': p.id }) }}">
                                <i class="fa fa-plus"></i> View event
                            </button>


                            <button id="sub-{{ p.id }}" class="action-apply btn btn-primary btn-sm"
                                    data-project-id="{{ p.id }}" data-enabled="0"
                                    {% if not enabled[p.id] %}style="display: none;" {% endif %}>
                                <i class="fa fa-external-link"></i>Unsubscribe
                            </button>

                            <button id="unsub-{{ p.id }}" class="action-apply btn btn-primary btn-sm"
                                    data-project-id="{{ p.id }}" data-enabled="1"
                                    {% if enabled[p.id] %}style="display: none;" {% endif %}>
                                <i class="fa fa-external-link"></i>Subscribe
                            </button>

                            <a href="{{ path('list_events') }}" class="action-apply btn btn-warning btn-sm"
                                    data-project-id="{{ p.id }}">
                                <i class="fa fa-calendar"></i> Course calendar
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="nav navbar-nav pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>